1. Intro to variable
2. Declaring and assesing the variable
3. Naming Conventions
4. Understanding Variable types
5. Type checking and conversions
6. Dynamic Typing
7. Practical Examples and common examples

In [ ]:
a=100

In [2]:
## Declaring and Assigning a variable
age=32
height=5.9
name="John Doe"
is_student=True

## Printing the variables
print("Age:", age)
print("Height:", height)
print("Name:", name)
print("Is Student:", is_student)

Age: 32
Height: 5.9
Name: John Doe
Is Student: True

In [1]:
## Naming Conventions
## Variable names should be descriptive
## They must always start with a letter or underscore __ 
## They can contain letters, numbers, and underscores   
## Names are case sensitive

first_name="Krish Naik"
last_name="Naik"

In [2]:
# Ivalid Variable Name

first-name="Krish"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2095657273.py, line 3)

In [3]:
name="Krish"
Name="Naik"
name==Name

False

In [14]:
age=25 #int
height=6.1 #float
name="Krish" #str
is_student=True

print(type(name))

<class 'str'>

In [15]:
## Type checking and conversion
type(height)

float

In [1]:
age=25
print(type(age))

age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [7]:
age='25'
print(type(int(age)))

<class 'int'>

In [2]:
age=int(input())
print("Your age is:", age)

Your age is: 43

In [3]:
#simple calculator
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)

8
0
16
1.0